.container-3{
    border:2px solid black;
    margin: 0 auto;
width:75%;
justify-content:center;
text-align:center;
background-color: rgb(139, 139, 201)
}
.flex-box-rps{
    border:2px solid black;
    justify-content:space-evenly;
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
    padding:10px;
    background-color:rgb(197, 197, 214)
}
.flex-box-rps img{
    justify-content:space-around;
flex-wrap: wrap;
flex-direction: row;
    padding:10px;
    
    
}

.flex-box-rps img:hover{
    box-shadow: 0 10px 50px rgb(32, 101, 230);
    

}