.container-2{
  border:2px solid black;
  width:75%  ;
  margin:0 auto;
  text-align:center;
  justify-content:space-evenly ;
}
.flex-box-container-2{
    display:flex;
    flex-wrap: wrap;
justify-content:space-around;
    border:3px solid blue;
    }
    .flex-box-container-2 img {
        display:flex;
        border:3px solid palevioletred;
        margin:10px;
        box-shadow:0 10px 50px rgba(0,0,0.7);
    }

